html
 head
 body
  form(method="get" action="/create")
   div
    label(for="name") Name
    input(id="name", name = "name")
   div
    label(for="email") Email
    input(id="email", name = "email", type="email")
   div
    input(type="submit")